// .wrapper {
//   //   box-sizing: border-box;
//   margin: 0;
//   padding: 2rem;
//   background-color: #e27474e7;
//   height: 75vh;
//   width: 100%;
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
//   gap: 2rem;
//   justify-content: center;
// }

.wrapper {
  background-color: #ffa9a9;
  height: 85vh;
  width: 100%;
}
