.text {
    /* margin-right: 35%; */
    justify-content: left;
    width: 60%;
    
}

.gift {
    height: 50%;
    width: 50%;
    float: right;
   
}

.hero {
    height: 600px;
    display: inline-block;
}